@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 214 41% 12%;
    --foreground: 0 0% 98%;
    --card: 214 41% 16%;
    --card-foreground: 0 0% 98%;
    --popover: 214 41% 16%;
    --popover-foreground: 0 0% 98%;
    --primary: 211 48% 51%;
    --primary-foreground: 0 0% 10%;
    --secondary: 211 80% 30%;
    --secondary-foreground: 0 0% 98%;
    --muted: 211 80% 30%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 211 48% 51%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 41% 22%;
    --input: 214 41% 18%;
    --ring: 211 48% 51%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
